/* //////////// */
/* MOBILE STYLE */
/* //////////// */

/* ////////// */
/* Containers */
/* ////////// */
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

.MiddleContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
}

/* 88888888888888888888 */
/* ////////// */
/* GENERAL FX */
/* ////////// */
.SunBlue {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 0;
  right: calc(-25vw / 2);
  border-radius: 50%;
}

/* 88888888888888888888 */
/* ///////////////// */
/* PLANET AND MIDDLE */
/* ///////////////// */
.PlanetContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 350px;
}

/* Planet Image */
.Planet {
  position: absolute;
  width: 350px;
  z-index: 2;
  image-rendering: pixelated;
}

/* Planet FX */
.Glow {
  display: inline-block;
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(30px);
  -webkit-filter: blur(30px);

  z-index: 1;
}

.AFX {
  display: inline-block;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  background: rgba(242, 65, 48, 0.41);
  filter: blur(100px);
  -webkit-filter: blur(100px);

  z-index: 1;
}

.BFX {
  display: inline-block;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  background: rgba(242, 65, 48, 0.5);
  filter: blur(100px);
  -webkit-filter: blur(100px);

  z-index: 4;
}

.CFX {
  width: 50vw;
  height: 60vw;
  position: absolute;
  top: 0;
  right: calc(-50vw / 2);
  border-radius: 50%;
  z-index: 9;
  background-color: rgba(2, 23, 255, 0.3);
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.RedBall {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 0px;
  border-radius: 50%;
  background: linear-gradient(
    202.46deg,
    rgba(242, 65, 48, 0) 15.1%,
    #f24130 85.37%
  );
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 0;
}

.BlueBall_A {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  right: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #15161a 0%, #121422 100%);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  mix-blend-mode: screen;
  z-index: 8;
}

.BlueBall_B {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 90px;
  right: 0px;
  border-radius: 50%;
  background: linear-gradient(180deg, #15161a 0%, #121422 100%);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  mix-blend-mode: screen;
  z-index: 8;
}

/* Other Planets */
.OtherPlanet_A {
  width: 20vw;
  height: 20vw;
  position: absolute;
  bottom: 0px;
  right: calc(-20vw / 2);
  border-radius: 50%;
  background: linear-gradient(
    202.46deg,
    rgba(0, 0, 0, 0.55) 15.1%,
    #f24130 85.37%
  );
  image-rendering: pixelated;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.OtherPlanet_B {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0px;
  left: calc(-25vw / 2);
  border-radius: 50%;
  background: linear-gradient(202.46deg, rgb(0, 0, 0) 15.1%, #f24130 85.37%);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.OtherPlanet_C {
  width: 25vw;
  height: 25vw;
  position: absolute;
  bottom: 0px;
  left: calc(-10vw / 2);
  border-radius: 50%;
  background: linear-gradient(180deg, #000d99 0%, #3a3f6f 100%);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 2;
}

.OtherPlanet_D {
  width: 30vw;
  height: 30vw;
  position: absolute;
  bottom: -120px;
  right: calc(-20vw / 2);
  border-radius: 50%;
  background: linear-gradient(180deg, #000d99 0%, #3a3f6f 100%);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 2;
}

/* 88888888888888888888 */

/* Planet Text */
.PlanetContainer > h3 {
  z-index: 10;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  color: white;
  text-shadow: 0px 0px 5px #0000;
}

.PlanetContainer > h2 {
  z-index: 10;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  text-align: center;
  margin: 0px;

  color: white;
  text-shadow: 0px 0px 10px rgba(242, 65, 48, 0.7);
}

.MiddleContainer > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 10px 0px 35px 0px;
  z-index: 10;
}

/* 88888888888888888888 */

.Discord {
  display: inline-block;
  width: 53px;
  height: 53px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  border-radius: 100%;
  z-index: 9999;

  background: #f24130;
  background-image: url("./assets/discordLogo.png");
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Discord:hover {
  background: #2432c9;
  background-image: url("./assets/discordLogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* 888888888888888888888888888888888888888888888888888888 */
/* 888888888888888888888888888888888888888888888888888888 */
/* 888888888888888888888888888888888888888888888888888888 */
/* ////// */
/* TABLET */
/* ////// */

@media screen and (min-width: 768px) {
  /* CONTAINER */
  .Container {
    max-height: 900px;
    overflow: visible;
  }

  /* FX */
  .CFX {
    width: 500px;
    height: 600px;
    top: calc(70% / 2);
    right: calc(-80% / 2);
    background-color: rgba(2, 23, 255, 0.15);
    z-index: 0;
  }

  /* PLANETS */
  .OtherPlanet_A {
    width: 100px;
    height: 100px;
    right: calc(-30% / 2);
  }
  .OtherPlanet_B {
    width: 150px;
    height: 150px;
    left: calc(-75% / 2);
  }
  .OtherPlanet_C {
    width: 130px;
    height: 130px;
    top: 200px;
    left: 0px;
  }
  .OtherPlanet_D {
    width: 130px;
    height: 130px;
    bottom: -150px;
    right: calc(-75% / 2);
  }
}
/* 888888888888888888888888888888888888888888888888888888 */
/* 888888888888888888888888888888888888888888888888888888 */
/* 888888888888888888888888888888888888888888888888888888 */
/* ////// */
/*   PC   */
/* ////// */

@media screen and (min-width: 1024px) {
  /* CONTAINER */
  .Container {
    overflow: visible;
  }

  /* MIDLECONTAINER */
  .MiddleContainer {
    margin-top: 100px;
  }

  /* PLANET */
  .Planet {
    width: 450px;
  }

  /* Planet Text */
  .PlanetContainer > h2 {
    font-size: 110px;
  }
  .PlanetContainer > h3 {
    font-size: 15px;
  }
  .MiddleContainer > p {
    font-size: 20px;
    margin: 80px 0px 35px 0px;
  }
}
