.Text {
    margin: 1;
    margin-left: 25px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #C4C4C4;
}

/*/// VIEWS ///*/

@media only screen and (min-width: 767px) and (max-width: 1439px) {
    .Text {
        font-size: 20px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 1440px) {
    .Text {
        font-size: 25px;
        line-height: 29px;
    }
}
