/*////////////*/
/*///STYLES///*/
/*////////////*/

.Container {
    /* background-color: #1b1b1b; */
    margin: 0;
    min-height: 100px;
	align-items: center;
}

.APContainer {
    margin: 0 auto 12px auto;
    align-items: center;
    width: 130px;
}

.APLogo {
    width: 130px;
    margin: 0 auto;
}

.SocialContainer {
    width: 124px;
    margin: 0 auto;
}

.Social {
    margin: 4px;
    width: 17px;
    margin-bottom: 20px;
}

/*///////////*/
/*// VIEWS //*/
/*///////////*/

/* TABLET */

@media only screen and (min-width: 768px) {
    .Container {
        min-height: 150px;
    }
    .APContainer {
        width: 200px;
    }
    .APLogo {
        width: 200px;
    }
    .SocialContainer {
        width: 184px;
    }
    .Social {
        margin: 6px;
        width: 25px;
    }
}

/* PC */

@media only screen and (min-width: 1024px) {
    .Container {
        margin-top: 30px;
    }
}