/* ///////// */
/* VARIABLES */
/* ///////// */

:root {
  --blur: 90px;
  --blur-low: 50px;

  /* DEGRADE */
  /* Red */
  --red-degrade: radial-gradient(
    50% 50% at 50% 50%,
    rgba(242, 65, 48, 0.7) 0%,
    rgba(242, 65, 48, 0.056) 100%
  );
  --red-degrade-2: rgba(242, 65, 48, 0.41);
  --red-degrade-3: rgba(242, 65, 48, 0.5);

  /* Blue */
  --blue-degrade: radial-gradient(
    50% 50% at 50% 50%,
    rgba(36, 50, 201, 0.7) 0%,
    rgba(36, 50, 201, 0.056) 100%
  );
}

/* ///////////////// */
/* MOBILE FIRST VIEW */
/* ///////////////// */

/* ////////// */
/* Container */
/* ////////// */

.Container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  align-items: center;

  position: relative;
}

.Container_Content {
  width: 100%;
  max-width: 1200px;
}

.TextContainer {
  width: 280px;
}

.CarouselContainer {
  position: relative;
  margin-top: 35px;
}

/* 88888888888888888888888888888888 */

.Carousel {
  height: 287px;
  /* overflow: visible !important; */
}

.Card {
  display: flex;
  width: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Selected {
  margin: 0 auto;
  z-index: 1;
}

.NotSelected {
  border-radius: 5px;
  z-index: 0;
}

.TabletContainer {
  display: none;
}

.Dots {
  width: 90px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.DotsContainer {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.DotSelected {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f24130;
  margin: 0 5px 15px 5px;
}

.DotNotSelected {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #8c8c8c;
  margin: 0 5px 15px 5px;
}

/* 88888888888888888888888888888888 */

/* ///////////////// */
/* PLANET AND FXS */
/* ///////////////// */
.Container_Planet {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;

  padding-top: 200px;
}

/* Planet Image */
.Planet {
  position: absolute;
  width: 60vw;
  max-width: 700px;
  z-index: 2;
}

/* Planet FX */
.Glow {
  display: inline-block;
  width: 60vw;
  height: 60vw;
  max-width: 650px;
  max-height: 650px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(50px);
  -webkit-filter: blur(50px);

  z-index: 1;
}

.FX_Planet_A {
  display: inline-block;
  width: 75vw;
  height: 75vw;
  max-width: 700px;
  max-height: 700px;
  position: absolute;
  border-radius: 50%;
  background: rgba(242, 65, 48, 0.41);
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));

  z-index: 1;
}

.FX_Planet_B {
  display: inline-block;
  width: 75vw;
  height: 75vw;
  max-width: 800px;
  max-height: 800px;
  position: absolute;
  border-radius: 50%;
  background: rgba(242, 65, 48, 0.5);
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));

  z-index: 4;
}

/* 88888888888888888888888888888888 */

/* ////////////// */
/* Background FXs */
/* ////////////// */

/* Container */
.Container_Background_FX {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: 100%;
  height: 150%;
  top: calc(-75% / 2);
  overflow: hidden;
}

.Container_Overflow_Background_FX {
  position: absolute;

  width: 100%;
  max-width: 1200px;
  height: 100%;
}

/* FXs */
.Background_FX_A {
  display: inline-block;
  position: absolute;
  right: calc(-222px / 4);
  top: calc(100% / 5);

  width: 222px;
  height: 266px;
  max-width: 800px;
  max-height: 800px;

  border-radius: 50%;
  background: var(--red-degrade);
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
}

.Background_FX_B {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: calc(100% / 4);

  width: 250px;
  height: 300px;
  max-width: 1000px;
  max-height: 1000px;

  border-radius: 50%;
  background: var(--blue-degrade);
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
}

.Background_FX_C {
  display: inline-block;
  position: absolute;

  top: calc(25% + 230px);
  left: calc(50% - 150px);

  width: 300px;
  height: 300px;
  max-width: 1000px;
  max-height: 1000px;

  border-radius: 50%;
  background: var(--red-degrade-2);
  filter: blur(var(--blur-low));
  -webkit-filter: blur(var(--blur-low));
}

.Background_FX_D {
  display: inline-block;
  position: absolute;
  left: calc(25% - 250px);
  bottom: 10%;

  width: 250px;
  height: 300px;
  max-width: 1000px;
  max-height: 1000px;

  border-radius: 50%;
  background: var(--blue-degrade);
  filter: blur(var(--blur-low));
  -webkit-filter: blur(var(--blur-low));
}

.Background_FX_E {
  display: inline-block;
  position: absolute;
  right: calc(25% - 250px);
  bottom: 10%;

  width: 250px;
  height: 300px;
  max-width: 1000px;
  max-height: 1000px;

  border-radius: 50%;
  background: var(--blue-degrade);
  filter: blur(var(--blur-low));
  -webkit-filter: blur(var(--blur-low));
}

/* Background Planets */
.Background_Ball_A {
  width: 40vw;
  height: 40vw;
  max-width: 250px;
  max-height: 250px;

  position: absolute;
  top: calc(25% / 4);
  left: calc(-20vw / 2);

  border-radius: 50%;
  background: var(--planet-red);
  filter: blur(var(--planet-blur));
  -webkit-filter: blur(var(--planet-blur));
}

.Background_Ball_B {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;

  position: absolute;
  top: calc(30% / 3);
  right: calc(-5vw / 2);

  border-radius: 50%;
  background: var(--planet-blue);
  filter: blur(var(--planet-blur-mid));
  -webkit-filter: blur(var(--planet-blur-mid));
}

.Background_Ball_C {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;

  position: absolute;
  bottom: calc(60% / 2);
  left: calc(-5vw / 2);

  border-radius: 50%;
  background: var(--planet-blue);
  filter: blur(var(--planet-blur));
  -webkit-filter: blur(var(--planet-blur));
}

/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */

/* /////////// */
/* TABLET VIEW */
/* /////////// */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .Container {
    min-height: 1100px;
  }
  .CarouselContainer,
  .Dots {
    display: none;
  }
  .TextContainer {
    width: 380px;
    margin-top: 20px;
  }
  .TabletContainer {
    display: flex;
    width: 620px;
    height: 600px;
    margin: 0 auto;
  }
  .Column {
    flex: 1;
  }
  .Card {
    display: block;
    padding: 20px;
  }

  /* PLANET */
  .Container_Planet {
    display: flex;
    top: 50%;
    left: 0px;
  }
  /* BALLS FXs */
  /* Background Planets */
  .Background_Ball_A {
    top: 15%;
    left: calc(-20vw / 2);
  }
  .Background_Ball_B {
    top: 30%;
    right: calc(-5vw / 2);
  }
  .Background_Ball_C {
    bottom: 20%;
    left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  /* FXs */
  .Background_FX_A {
    width: 60vw;
    height: 60vw;
    opacity: 0.7;
    -webkit-opacity: 0.7;
  }
  .Background_FX_B {
    top: 50%;

    width: 50vw;
    height: 50vw;
  }
  .Background_FX_C {
    top: calc(25% + 50vw);
    left: calc(50% - 20vw);

    width: 60vw;
    height: 60vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_D {
    left: calc(25% - 50vw);
    bottom: 5%;

    width: 50vw;
    height: 50vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_E {
    right: calc(25% - 50vw);
    bottom: 5%;

    width: 50vw;
    height: 50vw;

    opacity: 0.8;
  }
}

/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */

/* /////////////// */
/*  SMALL PC VIEW  */
/* /////////////// */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .CarouselContainer,
  .Dots {
    display: none;
  }
  .TextContainer {
    position: absolute;
    width: 380px;
    margin-top: 0px;
  }
  .TabletContainer {
    display: flex;
    width: 620px;
    height: 600px;
    margin: 0 auto;
    margin-right: 85px;
  }
  .Column {
    flex: 1;
  }
  .Card {
    display: block;
    padding: 20px;
  }

  /* //////////// */
  /* SUPER PLANET */
  /* //////////// */
  /* PLANET */
  .Container_Planet {
    display: flex;
    top: 50%;
    left: 0px;
  }
  /* BALLS FXs */
  /* Background Planets */
  .Background_Ball_A {
    top: 15%;
    left: calc(-20vw / 2);
  }
  .Background_Ball_B {
    top: 30%;
    right: calc(-5vw / 2);
  }
  .Background_Ball_C {
    bottom: 20%;
    left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  /* FXs */
  .Background_FX_A {
    width: 60vw;
    height: 60vw;
    opacity: 0.7;
    -webkit-opacity: 0.7;
  }
  .Background_FX_B {
    top: 50%;

    width: 50vw;
    height: 50vw;
  }
  .Background_FX_C {
    top: calc(25% + 30vw);
    left: calc(50% - 20vw);

    width: 60vw;
    height: 60vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_D {
    left: calc(25% - 50vw);
    bottom: 5%;

    width: 50vw;
    height: 50vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_E {
    right: calc(25% - 50vw);
    bottom: 5%;

    width: 50vw;
    height: 50vw;

    opacity: 0.8;
  }
}

/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */
/* 88888888888888888888888888888888 */

/* ////////////// */
/*  LARGE PC VIEW */
/* ////////////// */

@media only screen and (min-width: 1440px) {
  .CarouselContainer,
  .Dots {
    display: none;
  }
  .TextContainer {
    position: absolute;
    width: 420px;
    margin-top: 0px;
  }
  .TabletContainer {
    display: flex;
    width: 620px;
    height: 600px;
    margin: 0 auto;
    margin-right: 85px;
  }
  .Column {
    flex: 1;
  }
  .Card {
    display: block;
    padding: 20px;
  }

  /* //////////// */
  /* SUPER PLANET */
  /* //////////// */
  /* PLANET */
  .Container_Planet {
    display: flex;
    top: 50%;
    left: 0;
  }
  /* BALLS FXs */
  /* Background Planets */
  .Background_Ball_A {
    top: 15%;
    left: -100px;
  }
  .Background_Ball_B {
    top: 30%;
    right: -50px;
  }
  .Background_Ball_C {
    bottom: 20%;
    left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  /* FXs */
  .Background_FX_A {
    top: 100px;
    right: -200px;
    width: 60vw;
    height: 60vw;
    opacity: 0.5;
    -webkit-opacity: 0.7;
  }
  .Background_FX_B {
    top: 100px;
    opacity: 0.5;
    width: 50vw;
    height: 50vw;
  }
  .Background_FX_C {
    top: 600px;
    left: 300px;

    width: 60vw;
    height: 60vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_D {
    left: -500px;
    bottom: 0;

    width: 50vw;
    height: 50vw;

    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
  .Background_FX_E {
    right: -500px;
    bottom: 5%;

    width: 50vw;
    height: 50vw;

    opacity: 0.8;
  }
}
