/*////////////*/
/*///STYLES///*/
/*////////////*/

.Container {
    background-color: #1b1b1b;
    margin: 0;
    height: 600px;
	align-items: center;
}

.TextContainer {
    width: 280px;
}

.CarouselContainer {
	position: relative;
	margin-top: 35px;
}

.Carousel {
	height: 287px;
	/* overflow: visible !important; */
}

.Card {
	display: flex;
	width: 150px;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.Selected {
	margin: 0 auto;
	z-index: 1;
}

.NotSelected {
	border-radius: 5px;
	z-index: 0;
}

.TabletContainer {
	display: none;
}

.Dots {
    width: 72px;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.DotsContainer {
	display: inline-block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.DotSelected {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #F24130;
	margin: 0 5px 15px 5px;
}

.DotNotSelected {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #8C8C8C;
	margin: 0 5px 15px 5px;
}

/*/////////////*/
/*/// VIEWS ///*/
/*/////////////*/

/* TABLET */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
	.Container {
		height: 950px;
	}
    .CarouselContainer, .Dots {
        display: none;
    }
	.TextContainer {
		width: 380px;
		margin-top: 40px;
	}
	.TabletContainer {
		display: flex;
		width: 620px;
		height: 600px;
		margin: 0 auto;
	}
	.Column {
		flex: 1;
	}
	.Card {
		display: block;
		padding: 20px;
	}
}