/*////////////*/
/*///STYLES///*/
/*////////////*/

.Container {
    /* background-color: #1b1b1b; */
    margin: 0;
    width: 100%;
    height: 700px;
	align-items: center;
}

.TitleContainer {
    width: 100px;
    align-items: left;
    text-align: left;
}

.TextContainer {
    width: 240px;
    margin: 20px 0 0 0;
}

.ProcessContainer {
    position: relative;
    margin: 20px auto;
    width: 320px;
}

.Caja {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    /* filter: blur(1px); */
    -webkit-box-shadow: inset -10px -10px 15px -5px #000000; 
    box-shadow: inset -10px -10px 15px -5px #000000;
}

.Caja::before {
    content:"";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.ChangeButton {
    border: none;
    background: none;
    height: 0;
}

.ChangeButton:focus, .ChangeButton:hover, .ChangeButton:active {
    border: none;
    background: none;
    outline: none !important;
}

.RightSide {
    width: 70%;
    float: right;
}

.SmallNumber {
    position: absolute;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 83.8%;

    letter-spacing: -0.1em;
    z-index: 100;
    color: #C4C4C4;
    filter: blur(0);
}

.Penguin {
    position: absolute;
    width: 70px;
    margin: 150px auto auto 110px;
}

.LeftSide {
    width: 30%;
    float: left;
}

.ProcessTitle {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    
    margin: 115px auto auto 25px;
    color: #F24130;
}

.ProcessText {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    margin-left: 25px;
    width: 170px;
    color: #FFFFFF;;
}

.Button {
    margin-left: 100%;
}

@keyframes spin {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}

@keyframes spinOpen {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

.Img {
	animation-name: spin;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    margin: 10px 0 10px 0;
}

.ImgOpen {
	animation-name: spinOpen;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    transform: rotate(180deg);
    margin: 10px 0 10px 0;
}

.ProcessContainerPC {
    display: none;
}

.ProcessContainerTablet {
    display: none;
}

.PrevArrow {
    display: none;
}

.NextArrow {
    display: none;
}

/*///////*/
/* VIEWS */
/*///////*/

/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Container {
        width: 100%;
        margin: 0 auto;
        height: 800px;
    }
    .TextContainer {
        width: 380px;
    }
    .ProcessContainer {
        display: none;
    }
    .Caja {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        -webkit-box-shadow: inset -10px -10px 15px -5px #000000; 
        box-shadow: inset -10px -10px 15px -5px #000000;
    }
    .Caja::before {
        content:"";
        position: absolute;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }
    .ProcessTitle {
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 27px;
        text-align: center;
        
        margin: 115px auto auto 105px;
        color: #F24130;
    }
    .ProcessText {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 17px;
    
        margin-left: 105px;
        width: 220px;
        color: #FFFFFF;;
    }
    .ChangeButton {
        /* padding: 10px; */
    }
    .RightSide {
        width: 50%;
        float: right;
    }
    .LeftSide {
        width: 20%;
        float: left;
    }
    .Button {
        margin-left: 190px;
    }
    .ProcessContainerTablet {
        display: block;
    }
    .Penguin {
        position: absolute;
        width: 140px;
        margin: 195px auto auto 85px;
    }
    .SmallNumber {
        font-size: 24px;
    }
}

/* PC */

@media only screen and (min-width: 1024px) {
    .TitleContainer {
        display: none;
    }
    .TextContainer {
        display: none;
    }
    .ProcessContainer {
        display: none;
    }
    .ProcessContainerPC {
        display: grid;
        grid-template-columns: 2fr 1fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        position: relative;
        margin: 20px auto;
        width: 900px;
        height: 500px;
        /* background-color: red; */
    }
    .CarouselContainer {
        height: 500px;
        width: 280px;
        /* background-color: green; */
    }
    .CarouselContainerNumber {
        height: 500px;
        width: 120px;
        margin-left: 30px;
        
        /* background-color: pink; */
    }
    .SlideNumber {
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 800;
        font-size: 100px;
        line-height: 83.8%;
        
        color: #FFFFFF;
        width: 40px;
        margin-top: 70px;
    }
    .PenguinPC {
        height: 350px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .ContainerPC {
        width: 500px;
        margin-left: 30px;
    }
    .TextContainerPC {
        margin-top: 20px;
    }
    .ProcessTitle {
        margin-top: 60px;
        font-size: 28px;
        line-height: 32px;
        text-align: left;
    }
    .ProcessText {
        font-size: 14px;
        line-height: 20px;
        width: 400px;
    }
    .NextArrow {
        display: inline-block;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .NextArrow:hover > .Blur {
        filter: drop-shadow(1px 0 0 #2432C9) drop-shadow(-1px 0 0 #2432C9) 
            drop-shadow(0 1px 0 #2432C9) drop-shadow(0 -1px 0 #2432C9)
            blur(2px);
    }
    .Blur {
        filter: drop-shadow(1px 0 0 #F24130) drop-shadow(-1px 0 0 #F24130) 
            drop-shadow(0 1px 0 #F24130) drop-shadow(0 -1px 0 #F24130)
            blur(1px);
        height: 40px;
        position: absolute;
        top: -3px;
        left: 7px;
        z-index: -1;
    }
    .PrevArrow {
        display: inline-block;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        height: 80px;
        margin: 17px;
    }
}