/*////////////*/
/*///STYLES///*/
/*////////////*/

.Container {
    background-color: #1b1b1b;
    margin: 0;
    width: 100%;
    height: 600px;
	align-items: center;
}

.UsContainer {
    margin-right: 30px;
    align-items: right;
    text-align: right;
}

.Penguins {
    position: relative;
    margin: 0 auto;
    width: 270px;
    height: 180px;
}

.Background {
    position: absolute;
    margin: 30px 0 0 20px;
    width: 200px;
    height: 110px;
    background: rgba(242, 65, 48, 0.64);
    filter: blur(80px);
}

.Facu {
    width: 80px;
    position: absolute;
    z-index: 3;
    margin-top: 52px;
    margin-left: 190px;
}

.Ale {
    width: 90px;
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 150px;
}

.Flor {
    width: 70px;
    position: absolute;
    z-index: 4;
    margin-top: 68px;
    margin-left: 140px;
}

.Penguin {
    width: 86px;
    position: absolute;
    z-index: 1;
    margin-top: 23px;
    margin-left: 88px;
}

.Mati {
    width: 86px;
    position: absolute;
    z-index: 1;
    margin-top: 16px;
    margin-left: 25px;
}

.Agus {
    width: 70px;
    position: absolute;
    z-index: 3;
    margin-top: 68px;
    margin-left: 65px;
}

.Diego {
    width: 88px;
    position: absolute;
    z-index: 2;
    margin-top: 42px;
    margin-left: 0px;
}

.Info {
    position: absolute;
    /* display: none; */
    z-index: 10;
    animation: fadeIn 0.2s ease-in-out;
}

.Modal.open{
    animation: bounce-in 1s ease-in;
}
.Modal.close{
    animation: bounce-out 1s ease-in;
}
@keyframes bounce-in{
    0%    {opacity: 0;   transform: scale(0.5);}
    100%  {opacity: 1;   transform: scale(1);}
}
@keyframes bounce-out{
    0%    {opacity: 1;   transform: scale(1);}
    100%  {opacity: 0;   transform: scale(0.5);}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: inline-block;
        transform: translateY(-2rem);
    }
    100% {
        display: inline-block;
        opacity: 1;
        transform: translateY(0);
    }
} 

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(2rem);
        display: none;
    }
}

.InfoClose {
animation: fadeOut 0.2s ease-in-out;
}

.Line {
    position: absolute;
    width: 60px;
    height: 1.5px;
    top: 110px;
    left: 6px;

    background: #FFFFFF;
    transform: rotate(90deg);
}

.SecondLine {
    position: absolute;
    width: 10px;
    height: 1.5px;
    top: 140px;
    left: 35.2px;

    background: #FFFFFF;
}

.SecondLineLeft {
    position: absolute;
    width: 10px;
    height: 1.5px;
    top: 140px;
    left: 26px;

    background: #FFFFFF;
}

.Circle {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 138.5px;
    left: 42px;

    border-radius: 10px;

    background: #FFFFFF;
}

.CircleLeft {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 138.9px;
    left: 22px;

    border-radius: 10px;

    background: #FFFFFF;
}

.Person {
    position: absolute;
    width: 53px;
    height: 18px;
    top: 114px;
    left: 55px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;    
}

.PersonLeft {
    position: absolute;
    width: 53px;
    height: 18px;
    top: 112px;
    margin-left: -31px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;    
}

.Job {
    position: absolute;
    width: 87px;
    height: 20px;
    top: 146px;
    left: 36px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    text-align: center;

    color: #F24130;
}

.JobLeft {
    position: absolute;
    width: 87px;
    height: 20px;
    top: 143px;
    margin-left: -50px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    text-align: center;

    color: #F24130;
}

.TextContainer {
    margin: 60px 0 0 0;
}

.WeMake {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    margin-left: 25px;
    width: 200px;
    color: #F24130;
}

.OurTeam {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    margin-left: 25px;
    width: 200px;
    color: #FFFFFF;;
}

.Button {
    margin-left: 48%;
}

@keyframes spin {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}

@keyframes spinOpen {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}

.Img {
	animation-name: spin;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    margin: 10px 0 10px 0;
}

.ImgOpen {
	animation-name: spinOpen;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    transform: rotate(180deg);
    margin: 10px 0 10px 0;
}

.ButtonContainer {
    width: 105px;
    margin: 30px auto;
}