/*////////////*/
/*///STYLES///*/
/*////////////*/

.Container {
    /* background-color: #1b1b1b; */
    margin: 0;
    height: 400px;
	align-items: center;
}

.Title {
    width: 150px;
    width: 50%;
    float: left;
}

.Soon {
    margin-left: 25px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    /* text-align: center; */

    color: #F24130;
}

.Penguin {
    width: 50%;
    float: left;
}

.Penguin > img {
    margin: 14px 0 0 36px;
    width: 90px;
}

.Count {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;

    width: 200px;
    margin: 0 auto;
    padding-top: 180px;
    text-align: center;
    color: #FFFFFF;
    cursor: default;
}

.CountInfo {
    display: block;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    text-align: center;

    margin-top: 14px;
    margin-left: 8px;
    color: #F24130;
    cursor: default;
}

.CountInfo > p {
    display: inline;
    margin: 14px;
    margin-top: 0px;
    text-decoration: none;
    color: #F24130;
    cursor: default;
}

.Button {
    width: 140px;
    margin: 0 auto;
    padding-top: 40px;
}

/* ///// */
/* VIEWS */
/* ///// */

/* MOBILE MEDIUM */

@media only screen and (min-width: 376px) and (max-width: 426px) {
    .Penguin > img {
        margin: 8px 0 0 74px;
        width: 110px;
    }
    .Count {
        padding-top: 200px;
    }
}

/* TABLET */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .Container {
        margin-top: 80px;
        height: 600px;
    }
    .Soon {
        font-size: 25px;
        line-height: 27px;
    }
    .Penguin > img {
        margin: 60px 0 30px 160px;
        width: 170px;
    }
    .Count {
        font-size: 80px;
        line-height: 80px;
        width: 500px;
    }
    .CountInfo {
        font-size: 16px;
        line-height: 11px;
    }
    .CountInfo > p {
        margin: 42px;
    }
    .Button {
        padding-top: 70px;
    }
}

/* PC */

@media only screen and (min-width: 1024px) {
    .Container {
        height: 600px;
        width: 1024px;
        margin: 0 auto;
    }
    .Title {
        max-width: 300px;
        margin-left: 0px;
        width: 50%;
        float: left;
    }
    .Soon {
        font-size: 25px;
        line-height: 27px;
        margin-top: 50px;
    }
    .Penguin > img {
        position: absolute;
        margin: 210px 0 0 500px;
        width: 190px;
    }
    .Count {
        font-size: 80px;
        line-height: 80px;
        width: 500px;
        padding-top: 350px;
    }
    .CountInfo {
        font-size: 16px;
        line-height: 11px;
    }
    .CountInfo > p {
        margin: 42px;
    }
    .Button {
        padding-top: 70px;
    }
}

/* PC LARGE */

@media only screen and (min-width: 1440px) {
    .Container {
        width: 1440px;
    }
    .Title {
        margin-left: 110px;
    }
        .Penguin > img {
        margin: 210px 0 0 580px;
    }
}